<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        >
    <link
            rel="stylesheet"
            href="style-for-friend.css"
        />
</head>
<body>

    <div class="container-full">
        <div class="row">
            <div class="col-3" id="left">
                <img class="img img-responsive" src="m4-profile.jpg"/>
                <h4>Берта Миллер</h4>
                <p><a href="mailto:b.miller@example.com">b.miller@example.com</a></p>
            </div>
               <div class="col-9" id="right">
                <h4>Рыба-текст</h4>
                <p>Банальные, но неопровержимые выводы.....</p>
                <p>Активно развивающиеся страны...</p>
                <p>Учитывая ключевые сценарии...</p>
               </div>
        </div>
    </div>

</body>
</html>